<div id="<%= dom_id product %>">
  <p class="text-2xl my-5 capitalize">
    <%= product.name %>
  </p>

  <p class="my-5">
    <%= number_to_currency(product.price, unit: '$ ') %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Purchase", checkout_path(id: product),
      class: "rounded-lg py-3 px-5 text-green-600 bg-gray-100 inline-block font-medium",
      data: { turbo_frame: "_top" } %>

    <%= link_to "View product", product,
      class: "rounded-lg py-3 px-5 underline inline-block font-medium",
       data: { turbo_frame: "_top" } %>
    <hr class="mt-6">
  <% end %>
</div>
